# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\eLearning\Python\Udemy - 100 Days of Code - The Complete Python Pro Bootcamp for 2021 2021-2\projects\44-portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
